.home_box {
    background-color: rgb(134 134 199) !important;
    color: white;
    font-size: 26px;
    text-align: center;
    line-height: 45px;
}

.home_box_titles {
    margin-bottom: 20px;
}

.talk_button {
    background: #fff;
    color: #2196f3;
    border: 1px solid #2196f3;
    padding: 15px 20px;
}

.ask_button {
    background: #00000003;
    color: #FFF;
    border-color: #fff;
    padding: 15px 20px;
}