.appointment_content {
    min-height: 78vh !important;

    .accordion-button {
        display: block;
    }

    .no_data {
        min-height: 60vh !important;
    }

    .trash_icon {
        display: flex !important;
        float: right !important;
        margin-right: 0px !important;
        color: rgb(173, 38, 38);
    }
}